	$lime_color: #dce775;
	$amber_color: #ffd54f;
	$font_size:20px;

@mixin _border(	$_px, $_style ,	$_color){
	border: $_px $_style #{$_color};
}


/*-------------------------------------*/

body{
    background-color: $lime_color;
}

.amber_color{
 	background-color: $amber_color;
}

.lime_color{
 	background-color: $lime_color;
}

/*Nesting Example*/

.container{
	p{
		font-size: $font_size;	
	}
}
.container h3{
	font-size: $font_size;
	color: #303f9f;
}
/*Mixin Example*/
hr{
	@include _border(2px,dashed,#ff5722);
}